<div class="card card-custom">
  <div class="card-body">
    <h5 class="card-title">Employee: <%= recent_audit_item.user.full_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">week starting on: <%= recent_audit_item.start_date %></h6>
    <p class="card-text">Confirmed at: <%= recent_audit_item.end_date || status_label("pending") %></p>
    <p class="card-text">Status: <%= status_label recent_audit_item.status %></p>
  </div>
</div>