<h1>Overtimes</h1>
<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>
				#
			</th>
			<th>
				Overtime
			</th>
			<th>
				Rationale
			</th>
			<th>
				Date
			</th>
			<th>
                User
			</th>
			<th>
				Status
			</th>
			<th>
				Action
			</th>
		</tr>
	</thead>
    <tbody id="#posts">
        <%= render @posts %>
    </tbody>
</table>
<div id="paginator" class="text-center">
	<%= paginate @posts %>
</div>