.card-custom{
    text-align: center;
    margin: 17px;
    padding: 7px;
    background-color: whitesmoke;
    border-radius: 7px ;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    width: 200px;
    height: 200px;
    transition: 600ms;
}
.card-custom:hover{
    box-shadow: 15px 15px 10px 1px rgba(85, 85, 85, 0.2);
}
.content-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media only screen and (max-width: 1000px) {
    .card-custom{
        width: 100%;
    }
  }
