<div class="card card-custom">
  <div class="card-body">
    <h5 class="card-title"><%= yield :title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= yield :muted_text %></h6>
    <p class="card-text"><%= yield :text %></p>
  </div>
	<%= yield :links %>
</div>